Repository powerhome/playbook, pull requests merged in 2019-09, with the labels that each got.

#150 Avatar React Kit
  .eslintrc.json
  app/pb_kits/playbook/pb_avatar/_avatar.jsx
  app/pb_kits/playbook/pb_avatar/docs/_avatar_default.jsx
Labels: javascript

#273 Add className prop for Button kit
  app/pb_kits/playbook/pb_button/_button.jsx
Labels: bug, create-2019.9

#279 Loading Inline kit implementation for Rails
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_loading_inline.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_loading_inline/_loading_inline.html.erb
  app/pb_kits/playbook/pb_loading_inline/_loading_inline.jsx
  app/pb_kits/playbook/pb_loading_inline/_loading_inline.scss
  app/pb_kits/playbook/pb_loading_inline/docs/_loading_inline_dark.html.erb
  app/pb_kits/playbook/pb_loading_inline/docs/_loading_inline_dark.jsx
  app/pb_kits/playbook/pb_loading_inline/docs/_loading_inline_light.html.erb
  app/pb_kits/playbook/pb_loading_inline/docs/_loading_inline_light.jsx
  app/pb_kits/playbook/pb_loading_inline/docs/example.yml
  app/pb_kits/playbook/pb_loading_inline/docs/index.js
  app/pb_kits/playbook/pb_loading_inline/loading_inline.rb
  config/data/menu.yml
Labels: create-2019.9

#287 Create the Fixed Confirmation Toast Kit
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_fixed_confirmation_toast.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_fixed_confirmation_toast/_fixed_confirmation_toast.html.erb
  app/pb_kits/playbook/pb_fixed_confirmation_toast/_fixed_confirmation_toast.jsx
  app/pb_kits/playbook/pb_fixed_confirmation_toast/_fixed_confirmation_toast.scss
  app/pb_kits/playbook/pb_fixed_confirmation_toast/docs/_fixed_confirmation_toast_default.html.erb
  app/pb_kits/playbook/pb_fixed_confirmation_toast/docs/_fixed_confirmation_toast_default.jsx
  app/pb_kits/playbook/pb_fixed_confirmation_toast/docs/example.yml
  app/pb_kits/playbook/pb_fixed_confirmation_toast/docs/index.js
  app/pb_kits/playbook/pb_fixed_confirmation_toast/fixed_confirmation_toast.rb
  config/data/menu.yml
  package.json
  yarn.lock
Labels: New Kit, create-2019.9

#286 Create Home Address Street kit
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_home_address_street.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_home_address_street/_home_address_street.html.erb
  app/pb_kits/playbook/pb_home_address_street/_home_address_street.jsx
  app/pb_kits/playbook/pb_home_address_street/_home_address_street.scss
  app/pb_kits/playbook/pb_home_address_street/docs/_home_address_street_dark.html.erb
  app/pb_kits/playbook/pb_home_address_street/docs/_home_address_street_dark.jsx
  app/pb_kits/playbook/pb_home_address_street/docs/_home_address_street_default.html.erb
  app/pb_kits/playbook/pb_home_address_street/docs/_home_address_street_default.jsx
  app/pb_kits/playbook/pb_home_address_street/docs/example.yml
  app/pb_kits/playbook/pb_home_address_street/docs/index.js
  app/pb_kits/playbook/pb_home_address_street/home_address_street.rb
  config/data/menu.yml
Labels: New Kit, create-2019.9

#296 Create Badge Kit
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_badge.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_badge/_badge.html.erb
  app/pb_kits/playbook/pb_badge/_badge.jsx
  app/pb_kits/playbook/pb_badge/_badge.scss
  app/pb_kits/playbook/pb_badge/badge.rb
  app/pb_kits/playbook/pb_badge/docs/_badge_colors.html.erb
  app/pb_kits/playbook/pb_badge/docs/_badge_colors.jsx
  app/pb_kits/playbook/pb_badge/docs/_badge_default.html.erb
  app/pb_kits/playbook/pb_badge/docs/_badge_default.jsx
  app/pb_kits/playbook/pb_badge/docs/_badge_rounded.html.erb
  app/pb_kits/playbook/pb_badge/docs/_badge_rounded.jsx
  app/pb_kits/playbook/pb_badge/docs/example.yml
  app/pb_kits/playbook/pb_badge/docs/index.js
  app/pb_kits/playbook/tokens/_colors.scss
  config/data/menu.yml
Labels: create-2019.9

#289 Includes date rage inline rails and react components
  app/pb_kits/playbook/index.js
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_date_range_inline.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_date_range_inline/_date_range_inline.html.erb
  app/pb_kits/playbook/pb_date_range_inline/_date_range_inline.jsx
  app/pb_kits/playbook/pb_date_range_inline/_date_range_inline.scss
  app/pb_kits/playbook/pb_date_range_inline/date_range_inline.rb
  app/pb_kits/playbook/pb_date_range_inline/docs/_date_range_inline_default.html.erb
  app/pb_kits/playbook/pb_date_range_inline/docs/_date_range_inline_default.jsx
  app/pb_kits/playbook/pb_date_range_inline/docs/example.yml
  app/pb_kits/playbook/pb_date_range_inline/docs/index.js
  app/pb_kits/playbook/pb_date_year_stacked/_date_year_stacked.jsx
  app/pb_kits/playbook/pb_kit/dateTime.js
  app/pb_kits/playbook/pb_kit/pb_date_time.rb
  config/data/menu.yml
Labels: New Kit, create-2019.9

#285 [#182] Distribution Bar
  app/pb_kits/playbook/index.js
  app/pb_kits/playbook/packs/examples.js
  app/pb_kits/playbook/packs/kits.js
  app/pb_kits/playbook/packs/pb_distribution_bar.js
  app/pb_kits/playbook/packs/site_styles/_kit_style_index.scss
  app/pb_kits/playbook/pb_distribution_bar/_distribution_bar.html.erb
  app/pb_kits/playbook/pb_distribution_bar/_distribution_bar.jsx
  app/pb_kits/playbook/pb_distribution_bar/_distribution_bar.scss
  app/pb_kits/playbook/pb_distribution_bar/distribution_bar.rb
  app/pb_kits/playbook/pb_distribution_bar/docs/_distribution_bar_default.html.erb
  app/pb_kits/playbook/pb_distribution_bar/docs/_distribution_bar_default.jsx
  app/pb_kits/playbook/pb_distribution_bar/docs/example.yml
  app/pb_kits/playbook/pb_distribution_bar/docs/index.js
  config/data/menu.yml
  yarn.lock
Labels: New Kit, create-2019.9
